.sradha{
    position: relative;
}
.text{
    position: absolute;
    top: 0;
    color: red;
    padding-left: 10px;
}
.text h1{
    color: rgba(250, 163, 178, 0.979);
    font-family: sans-serif;
    font-size: 40px;
    margin-top:-13px;
    padding-left: 40px;
}